@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryColor: white;
    --secondaryColor: white;
    --blackColor: #F2DEC1;
    --borderColor: rgb(46,46,71);
    --inputColor: rgb(241, 241, 241);
    --successColor: rgb(205, 237, 207);
    --failureColor: rgb(255, 0, 0);
}

html {
    font-size: 90%;
}

body {
    display: inline;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.form-container {
    display: flex;
    width: 800px;
    height: 500px;
    border: 1px solid;
    color: black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px #F2DEC1;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form h2 {
    font-size: 3rem;
    margin: 35px;
    text-align: center;
}

.rows {
    display: grid;
    position: relative;
 
    z-index: 1000;
    transform: translateY(-1rem);
    padding-bottom: 1rem;
    color: black;
    margin-top: 20px;
}

label {
    display: block;
    padding-bottom: .20rem;
    font-size: 13px;
    color: black;
}

input {
    width: 100%;
    background-color: var(--inputColor);
    border: 3px solid #F2DEC1;
    outline: none;
    color: black;
    font-weight: 300;
    padding: .5rem;
    border-radius: 3px;
}

::placeholder {
    font-size: 10px;
}


#signupbtn {
    background: var(--blackColor);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    height: 35px;
    border: #F2DEC1;
}

#signupbtn:hover {
    background: burlywood;
    color: black;
}

#signinbtn {
    background: var(--blackColor);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    height: 35px;
    border: #F2DEC1;
}

#signinbtn:hover {
    background: burlywood;
    color: black;
}

.registerLink {
    display: block;
    font-size: 13px;
    color: var(--blackColor);
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

.signup-container {
    display: flex;
    width: 850px;
    height: 600px;
    border: 1px solid;
    color: black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px #F2DEC1;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side img {
    width: 350px;
    height: 450px;
}

.side-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side-signup img {
    width: 350px;
    height: 530px;
}

.reservation-container {
    display: flex;
    width: 900px;
    height: 750px;
    border: 1px solid;
    color: black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px #F2DEC1;
}

#location {
    width: 100%;
    background: var(--inputColor);
    border: 3px solid #F2DEC1;
    outline: none;
    color: black;
    font-weight: 500;
    padding: .5rem;
    border-radius: 3px;
}

.side-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.side-reservation img {
    width: 390px;
    height: 685px;
}

.form h3 {
    font-size: 1rem;
    margin: 10px;
    text-align: center;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }
  
  .alert-error {
    background-color: #dc3545;
  }
  
  .alert-success {
    background-color: #28a745;
  }


