*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav
{
position: absolute;
width: 100%;
height: 120px;
left: 0px;
top: 0px;
list-style: none;
background: #15120E;
border-bottom: 3px solid rgba(0, 0, 0, 0.3);
color: white;
}
nav ul{
    float: right;
    margin-right: 100px;

}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin:  30px 50px;
    font-size: 20px;

    
}
nav ul li a {
    color:white;
    font-weight: bold;

}
nav ul li a:hover {
    color:gray
}



#home{
    filter: brightness(50%);
    margin-top: 120px;
}


.discover {
    position: relative;
    border-radius: 250px;
    font-size: 20px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:  0 20px 0 20px;
    line-height: 45px;    
    border: none;
    font-weight: 500;
    margin-top: 16px;
    right: -10%;
}

#signup-btn {
    background: transparent;
    border: 2px solid white;
    border-radius: 200px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  #signup-btn:hover {
    background: white;
    color: black;
  }

  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: white;
    padding: 20px;
    max-width: 400px;
    flex-direction: column;
    
 }
  
  .text-container h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .col {
    flex: 1;
    padding: 0 40px;
    position: relative;

  }
  
  .col img {
    width: 100%;
    height: auto;
  }
  
  .text-container1 {
    background-color: #2E1600;
    color: #FFF;
    padding: 60px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .home-btns{
    background: transparent;
    border: 2px solid white;
    border-radius: 200px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;

  }

  .home-btns:hover {
    background: white;
    color: black;
  }

  footer {
   margin: 50px;
    color:gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .right {
    display: flex;
    gap: 10px;
  }
  .right i {
    font-size: 1.5rem;
  }

  /* THIS IS MENU COFFEE CSS*/

  .menucoffee{
    margin-top: 120px;
  }

  .text-container-menucoffee{
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translateY(-50%);
    color: white;

    flex-direction: column;
    max-width: 1000px;
  }

  .text-container-menucoffee h1{
    font-weight: 500;
    font-size: 38px;
    text-align: center;
  } 

  .menu-container{
    display: flex;
    background-color:rgb(241, 241, 241);
    margin: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
    overflow: hidden;
  }

  #item-card {
    width: 180px;
    height: 220px;
    padding: 10px;
    margin-left: 30px;
    display: inline-block;
    border-radius: 5px;
    background: beige;
    cursor: pointer;
  }

  #card-top {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
  }

  #rating {
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 14px;
  }

  .fa-shopping-cart {
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }

  .toggle-shopping-cart {
    background: orangered;
    color: white;
  }

  #item-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
  }

  #item-card:hover img{
    transform: scale(1.2);
  }

  #category-name {
    color: #FFF;
  }

  #item-name {
    margin: 5px 0;
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
  }

  #item-price {
    margin: 0;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
  }

  .list-name{
    font-size: large;
    font-weight: 500;
    
    color: black;
  }

  #category-list{
    width: 17%;
    min-height: 500px;
    background-color: rgb(211, 177, 126);
    padding: 20px;
  
  }

  .list-card{
    margin-top: 50px;
  }
  
  .menu-container{
    background-color: black;
    padding: 50px  30px;
  }

  #food-container {
    background: black;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  #category-name {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 35px;
    color: beige;
  }
